{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}  
    <a href="{% url 'newListing' %}" >create new listing</a>
    <h2>Active Listings</h2>
    <ul align="center">
        {% for listing in listings %}
        <li><b>title : </b>{{listing.title}} <br> 
            <b>Description :</b> {{listing.description}}<br>
                <b> Starting Bid :</b> {{listing.startingBid}} <br>
                    <b>Bid History :</b> {{listing.bidHistory}} <br>
                        <b>Highest Bid :</b> {{listing.lastBid}} <br>
            {% if listing.closed %}  
            <b>Winner :</b> {{listing.winner}} <br>
            {% endif %}   
            <b> Image :</b><br> 
        {% if listing.image %}  
            <img src="{{listing.image.url}}" alt="Bid pic" width="250" height="250">
        {% else %}
            no image
        {%endif %}   
            <br>
            <a href="listingMainPage/{{listing.id}}">View details</a>
            <br>
            {% if listing.winner.id == current_user%}  
            <h1 style="color:green">You are the winner!</h1>
            {% endif %}   
        </li>
        <hr style="border: 2px solid rgb(88, 88, 88); border-radius: 5px;">
        {% empty %}
        <h2>There is no listings available.</h2>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Please login to <span style="color:blue">Create</span> and <span style="color:green">View</span> all the listings.</h1>
    {% endif %}   
  
{% endblock %}