{% extends "auctions/layout.html" %}

{% block body %}
    <a href="{% url 'newListing' %}" >create new listing</a>
    <h2>Active Listings</h2>
    {% if user.is_authenticated %}  
    <ul>
        {% for listing in listings %}
        <li>title : {{listing.title}} <br> 
            Description : {{listing.description}}<br>
            Starting Bid : {{listing.startingBid}} <br>
            Bid History : {{listing.bidHistory}} <br>
            Highest Bid : {{listing.lastBid}} <br>
            {% if listing.closed %}  
            Winner : {{listing.winner}} <br>
            {% endif %}   
            Image :<br> 
        {% if listing.image %}  
            <img src="{{listing.image.url}}" alt="Bid pic" width="250" height="250">
        {% else %}
            no image
        {%endif %}   
            <br>
            <a href="listingMainPage/{{listing.id}}">View details</a>
            <br>
            {% if listing.winner.id == current_user%}  
            <h1 style="color:green">You are the winner!</h1>
            {% endif %}   
        </li>
        <hr style="border: 2px solid rgb(88, 88, 88); border-radius: 5px;">
        {% empty %}
        <h2>There is no listings available.</h2>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Please login to see all the listings.</h1>
    {% endif %}   
  
{% endblock %}