{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% if bidError %}
<h1 style="color:red">Please notice that : </h1>
<h3 style="color:rgb(245, 94, 131)">
    The bid must be at least as large as the starting bid, and must be greater than any other bids that have been placed
</h3>
{% endif %}
  <h1>Listing : {{lis.title}}</h1>
  <ul>
      <li><b>Category :</b><br> {{lis.category}}</li>
      <li><b>Description :</b><br> {{lis.description}}</li>
      <li><b>starting Bid:</b><br> {{lis.startingBid}}</li>
      <li><b>listed By:</b><br> {{Cuser.username}}</li>
      <li><b> Bid History :</b><br> {{lis.bidHistory}} <br></li>
      <li> <b>Highest Bid :</b><br> {{lis.lastBid}} <br></li>

      <li><b>image:</b> <br>
        {% if lis.image %}
         <img src="{{lis.image.url}}" alt="Bid pic" width="250" height="250"></li>
         {% else %}
            no image
        {%endif %}
      {% if lis.closed %}
      <li style="color:green"><b>Winner: </b><br> {{ lis.winner}} </li>
      {% if lis.winner.id == Cuser.id %}
      <hr>
      <h1 style="color:green">You are the winner!</h1>
      {% endif %}
      <hr>
      {% endif %}
     </ul>
     {% if lis.closed %}
     <h1 style="color:red">Closed</h1>
    {% else %}
     <br>
        <form action="{% url 'bid' %}" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type="text" name="lis" value="{{lis.id}}" hidden="true">
            <input type="number" name="amount" value="Enter a number to Bid!" onfocus="this.value=''">
            <input type="submit" name="submit" value="Bid!" style="color:white; background-color: #04AA6D;">
        </form>
        {% if watched %}
        <a href="removeFromWatchList/{{lis.id}}" style="color:red">
            Remove from WatchList.
           </a>
    {% else %}
    <a href="addToWatchList/{{lis.id}}" style="color:rgb(139, 2, 128)">
        Add to WatchList.
       </a>
    {% endif %}
    <br>
    {% if owner %}
    <a href="close/{{lis.id}}" style="color:red">
        Close.
       </a>
    {% else %}
    {% endif %}
    {% endif %}

     <div>       <!--  " -->
      <form action="{% url 'saveComment' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
          <label for="comment">Add a Comment :</label>
          <br>
          <input type="text" name="listing" value="{{lis.id}}" hidden="true">
          <textarea  name="comment" onfocus="this.value=''" style="width:700px; height:75px">
            write your comment here..
          </textarea>
          <br>
          <input type="submit" name="submit" value="comment" style="color:rgb(255, 255, 255); background-color: #3d57ec;">
      </form>
       <h1>Comments : </h1>
       <ul>
        {% for comment in comments %}
         <li style=" list-style-position:inside;
         border: 1px solid rgb(155, 155, 155);">
          <b>by:</b> {{comment.user}}<br>
          <b>comment:   </b> {{comment.commentString}}<br>
           <b>date:    </b> {{comment.date}}
         </li>
         <br>
         {% empty %}
         <h2>There is no comments available.</h2>
         {% endfor %}
       </ul>
     </div>
      
{% endblock %}